*
{
  font-family: "Playfair Display", serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-optical-sizing: auto;
 
}

body
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(195, 195, 196);
}




    @media (max-width:760px)
  {
    .bb-ul 
    {
      display: block;
      margin-right: 20%;
    }

    main
    {
      display: grid;
      grid-template-columns: 1fr;
    }


    footer > .footer-flex, footer > .footer-adress
    {
      width: 100%;
      font-size:16px;
    }

   

    footer 
    {
      padding: 10px;
    }


  }

   @media (min-width:761px) and (max-width:999px)
   {
    main
    {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
   }



  @media (min-width:1000px)
  {
    main 
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }